body {
background-color: #A26F3F;
background-image: url("comicback.jpg");
background-repeat: no-repeat;
color: black;
margin-top: 10px;
background-position: center;
background-attachment: fixed; 
background-size: cover;
}

h1 {
Font-family: "Comic Sans MS", cursive, sans-serif;
font-weight: bold;
font-size:60px;
text-align: center;
padding:5%;
padding-bottom:0%;
text-shadow: 2px 2px #ffffff;

}

h2 {
text-align: center;
Font-family: "Comic Sans MS", cursive, sans-serif;
font-weight: bold;
font-size: 40px;
padding:5%;
text-shadow: 2px 2px #ffffff
}

nav{
	float: left;
	text-align: center; 
	width:100%; 
	font-weight:bold; 
	font-size: 30px; 
	background-color: black;
	width:100%;
	min-width: 900px; 
	max-width: 2000px; 
}
nav ul{
	background-color: white;
	display: inline;
	padding-left: 8em;}
	nav a:link{color: white;}
	nav a:visited{color: grey;}
	nav a:hover{color:grey;}
}

